// app global css in Sass form

// admin tab dropdown button
.tab-dropdown {
  margin-left: 0.5rem;
  height: 1rem;
  & > .q-btn__wrapper {
    padding: 0 !important;
    & > .q-btn__content {
      height: 1rem !important;
    }
  }
}

.empty-texts {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
