// app global css in Sass form

// admin tab dropdown button
.tab-dropdown {
  margin-left: 0.5rem;
  height: 1rem;
  & > .q-btn__wrapper {
    padding: 0 !important;
    & > .q-btn__content {
      height: 1rem !important;
    }
  }
}
